<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type="text/javascript" src="../static/scripts/login.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <link rel="icon" href="../static/images/icon.png" />
    <title>TestProbes Guide Login</title>
  </head>
  <body>
    <div class="login-page">
        <h1 class="app-title">TestProbes Guide</h1>
        <div class="form">
          <img src="../static/images/logo.png" alt="Logo" class="logo">
          <form class="login-form">
            <div class="input-container">
              <i class="fas fa-user icon"></i>
              <input type="text" placeholder="username"/>
            </div>
            <div class="input-container">
              <i class="fas fa-lock icon"></i>
              <input type="password" placeholder="password"/>
            </div>
            <button>login</button>
          </form>
        </div>
      </div>
  </body>