<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="icon" href="../static/images/icon.png" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row" style="background-color: rgb(252, 252, 252);">
            <div style="width: 20%;">
              <nav >
                <ul >
                    <li>
                       <a href="">
                        <h1>Nav-item</h1>
                       </a>
                    </li>
                    <li>
                       <a href="">
                        <h1>Nav-item</h1>
                       </a>
                    </li>
                    <li>
                       <a href="">
                        <h1>Nav-item</h1>
                       </a>
                    </li>
                    <li>
                        <a href="">
                         <h1>Nav-item</h1>
                        </a>
                     </li>
                   
                </ul>
              </nav>
            </div>
            <div style="width: 70%;">
                <div>
                    <h1>Les Elements</h1>
                  <form action="/search" method="POST"  class="row">
                    <div style="width: 30%;display: flex;flex-direction: column;justify-content: space-between;" >
                        <label for="">Categories <br> .</label>
                        <select name="" id="">
                            <option value="selected">Select Option</option>
                            <option value="">option</option>
                            <option value="">option</option>
                            <option value="">option</option>
                            <option value="">option</option>
                        </select>
                    </div>
                    <div  style="width: 30%;display: flex;flex-direction: column;">
                        <label for=""><br> .</label>
                        <input type="text" value=""  placeholder="search By .." >
                    </div>
                    <div  style="width: 30%;display: flex;flex-direction: column;">
                        <label for=""><br> .</label>
                        <button>Filter</button>
                    </div>
                  </form>
                </div>


                <div style="">
                    <table class="table" style="width: 100%;">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td >Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                          </tr>

                          <tr>
                            <th scope="row">3</th>
                            <td >Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                          </tr>

                          <tr>
                            <th scope="row">3</th>
                            <td >Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                          </tr>

                          <tr>
                            <th scope="row">3</th>
                            <td >Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                          </tr>

                          <tr>
                            <th scope="row">3</th>
                            <td >Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>