<nav class="sidebar">
    <ul>
        <li><a href="/connectors"><img src="../static/images/connector.png" alt="Con Icon"> Connectors</a></li>
        <li><a href="/TestProbes"><img src="../static/images/probe.png" alt="probe Icon"> TestProbes</a></li>
        <li><a href="/TestModules"><img src="../static/images/testmodule.png" alt="Tm Icon"> TestModules</a></li>
        <li><a href="/Suppliers"><img src="../static/images/supplier.png" alt="Sup Icon"> Suppliers</a></li>
        <li><a href="/users"><img src="../static/images/users.png" alt="User Icon"> Users</a></li>
    </ul>
</nav>